<html>
  <head>
    <script type="text/javascript">
    function countWords() {

      var collectedText;

      // document.body.innerText

      $('p,h1,h2,h3,h4,h5').each(function(index, element){
          collectedText += element.innerText + " ";
      });   

      // Remove 'undefined if there'
      collectedText = collectedText.replace('undefined', '');

      // Remove numbers, they're not words
      collectedText = collectedText.replace(/[0-9]/g, '');

      // Get
      console.log("You have " + collectedText.split(' ').length + " in your document.");
      return collectedText;

    }
    </script>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Cat Gif of the day</h4>
      <img src="{{url}}" />
      <p><small>Courtesy: <a href="http://www.buzzfeed.com/copyranter/the-best-cat-gif-post-in-the-history-of-cat-gifs">Buzzfeed</a></small></p>
    </div>
    <div>
      <p><a href="javascript_required.html" onclick="countWords(); return false;">go</a></p>
    </div>
  </body>
</html>